@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.btn {
  width: 50% !important;
  height: 50px !important;
  color: #4a4a4a;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.btn:nth-child(1) {
  border-radius: 10px 0px 0px 10px;
}

.btn:nth-child(2) {
  border-radius: 0px 10px 10px 0px;
}

.btn:focus {
  background-color: #2196f3;
  color: white;
}

.btn:active {
  background-color: #2196f3;
  color: white;
}

.wrap-btn {
  display: flex;
  width: 100%;
  padding-left: 38px;
  box-sizing: border-box;
}
