.ticket-list {
  display: flex;
  flex-direction: column;
  width: auto;
  list-style: none;
  gap: 20px;
  animation-name: ticketList;
  animation-duration: 2.5s;
}

@keyframes ticketList {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
