@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.ticket-list {
  display: flex;
  flex-direction: column;
  width: auto;
  list-style: none;
  gap: 20px;
  animation-name: ticketList;
  animation-duration: 2.5s;
}

.reserv-text {
  color: #4a4a4a;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  display: flex;
  flex-direction: column;
}

@keyframes ticketList {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
